@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #e4e8ff;
}
section{
    padding: 28px 8%;
}

.btn-default {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a0b5ff;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 60px;
    box-shadow: 0px 0px 13px 4px #afbaf4;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #bac7ff;
}
.social-media{
    display: flex;
    gap: 20px;
}
.social-media a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 45px;
    height: 40px;
    font-size: 20px;
    border-radius:10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;

}
.social-media a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}
.section-titulo{
    color: #007fff;
    font: 1.575rem;
}
.section-subtitulo{
    font-size: 2.2rem;
}
::-webkit-scrollbar{
    background-color: white;
}
::-webkit-scrollbar-button{
    background-color: #afbaf4;
    color: white;
}
::-webkit-scrollbar-thumb{
background-color: #afbaf4;
border-radius: 12px;
}
::-webkit-scrollbar-track{
    background-color: #2e8be9;

}